<div id='map_container'>
	<div id='map' style='width: 800px; height: 400px;'>
		// <script type="text/javascript">
		// 	var container = document.getElementById("map");
		// 	var content = document.createElement("span");
		// 	content.width = "800px";
		// 	content.width = "400px";
		// 	content.innerHTML = "Hello";
		// 	container.appendChild(content);
		</script>
	</div>
</div>