
<div class="row" >
    <h5><%= @user.type %>'s Categories</h5>
</div>
<div class="actionBox">
<ul class="commentList">
<%if @user.categories.count > 0 %>
    <%  @user.categories.each do |c| %>
        <li>
            <div class="commentText">
                <p class="">
                <%= c.name %>
                <%if c.parent_category %> from <% c.parent_name %><% end %>
                </p> 
            </div>
        </li>
    <% end %>           
 <%else %>
    <li>
        <div class="commentText">
            <p class="">Still no categories</p> 
        </div>
    </li>
<% end %>
</ul>
</div>





 