<div class="titleBox">
    <label>Información sobre <%= @user.name %></label>
    <button type="button" class="close" aria-hidden="true">&times;</button>
</div>
<div class="commentList">
    <p class="">
        <%= @user.description %>
    </p>
</div>


 