<div class="detailBox">
    <div class="titleBox">
      <label>Description of <%= @user.name %></label>
        <button type="button" class="close" aria-hidden="true">&times;</button>
    </div>
    <div class="actionBox">
        <ul class="commentList">
            <li>
                <div class="commentText">
                    <p class="">
                        <%= @user.description %>
                    </p> 
                </div>
            </li>
        </ul>
    </div>
</div>
 