
li .login {
	display: inline;
	padding-right: 20px;
}

.navbar-right {
	padding-right: 20px;
}

.logout {
	margin-left: 15px;
}

.logo-text a {
	font-family: 'Gochi Hand', cursive;
	font-size: 1.4em;
 }

