.logo {
	width: 60px;
	heigth: 60px;
}

.header-title {
	color: #A6292A;
	float: right;
	height: 60px;
}

.navbar-inner {
	background-color: white;
}


#menu_borde {
	border: none;
}

.userImage {
    width: 60px;
    height:60px;

    margin-right: 5px;
       
    border-radius:30%;
    float:left;
}

