// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.userImage {
    width:80px;
    margin-right:5px;
    height:80px;
    border-radius:30%;
    float:left;
}